---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { getTags } from "../index.astro";
import Base from "../../partials/base.astro";

// generate the page
export const getStaticPaths = (async () => {
    let res = new Array();
    (await getTags()).forEach((e) => {
        res.push({params: {tag: e}})
    });

    return res;
}) satisfies GetStaticPaths;


// produce the page

const {tag} = Astro.params;

const recipes = await getCollection("recipe");
const filtered = recipes.filter((e) => e.data.tags.includes(tag))

---
<Base title=`Tag: ${tag}` desc=`All recipes containing the tag: ${tag}` >
	<article>
	<header>
		<a class="brand-logo" href="/">
			<img src="/favicon/android-chrome-512x512.png" alt="Tapirus Cooking" width="96" height="96" />
		</a>
    	<h1>All recipes with "{tag}"</h1>
		<div id="links">
		<h2><a href="/">Home</a></h2>
		<h2><a id="back">Back</a></h2>
	</header>
    <ul>
        { filtered.map((f) => <li><a href=`/recipe/${f.id}`>{f.data.title}</a></li>) }
    </ul>
    </article>
</Base>
<style>
    header {
        margin-top: 50px;
        margin-bottom: 10px;
    }
    #links {
        display: flex;
        justify-content: center;
    }
    h1 {
        font-size: 3rem;
        margin: 0;
    }
    h2 {
        margin: 0;
        padding: 10px;
    }
    article {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
</style>
